<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form action='/people/save' method='post'>
        <div>ID: <input type='text' name='id' value=''/></div>
        <div>First Name: <input type='text' name='first' value=''/></div>
        <div>Last Name: <input type='text' name='last' value=''/></div>
        <div><input class='page-button' type='submit' value='Save'/></div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
