<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script>

  $(document).ready(function() {

    $("#search-button").click(function(){
      var searchText = $("#search-text").val();
      var searchJson = {
        text: searchText
      }

      $.ajax({
          url: "/people/search",
          type: "POST",
          dataType: 'json',
          contentType: "application/json",
          data: JSON.stringify(searchJson)
      })
      .done(function(data, textStatus, jqXHR) {
        console.log("ajax.done data: "+data);
        console.log("textStatus: "+textStatus);
        console.log("jqXHR.status: "+jqXHR.status);
        console.log("jqXHR.responseText: "+jqXHR.responseText);

        var output= "";
        for (i=0; i < data.length; i++) {
          output += "<tr>";
          output += "<td scope='col'>" + data[i].id + "</td>";
          output += "<td scope='col'>" + data[i].first + "</td>";
          output += "<td scope='col'>" + data[i].last+ "</td>";
          output += "</tr>";
        }

        //$("#search-results").html(JSON.stringify(data));
        $("#search-results").html(output);
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        console.log("ajax.fail");
        console.log("textStatus: "+textStatus);
        console.log("errorThrown: "+errorThrown);
        console.log("jqXHR.status: "+jqXHR.status);
        console.log("jqXHR.responseText: "+jqXHR.responseText);
      })
      .always(function(data, textStatus, jqXHR) {
        console.log("ajax.always data: "+data);
        console.log("textStatus: "+textStatus);
        console.log("jqXHR.status: "+jqXHR.status);
        console.log("jqXHR.responseText: "+jqXHR.responseText);
      });
      return false;
    });


  });
</script>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input id="search-text" type="text" name="search-name" value=""/>
      <a href="" id="search-button" class="button">Search</input>
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col-md-4">ID</th>
            <th scope="col-md-4">First</th>
            <th scope="col-md-4">Last</th>
          </tr>
        </thead>
        <tbody id="search-results">
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>
