<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $("#languages").change(function () {
        var selectedOption = $('#languages').val();
        if (selectedOption != ''){
            window.location.replace('?lang=' + selectedOption);
        }
    });
});
</script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <span th:text="#{lang.change}">Change</span>:
      <select id="languages">
        <option value=""></option>
        <option value="en" th:text="#{lang.eng}">en</option>
        <option value="fr" th:text="#{lang.fr}">fr</option>
        <option value="ja" th:text="#{lang.ja}">ja</option>
      </select>
      <p class="lead"><span th:text="#{greeting}">Hi</span></p>
      <div class="container">
        <div class="row" th:each="people: ${peoples}">
          <div class="col-1" th:text="${people.id}"></div>
          <div class="col-4">
            <a href="" th:href="@{/people/update(id=${people.id})}" th:text="|${people.first} ${people.last}|"></a>
          </div>
          <div class="col">
            <a href="" th:href="@{/people/delete(id=${people.id})}" class="button">Delete</a>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 order-first order-md-last">
      <div class='create-new'>
        <form action='/people/create' method='get'>
          <input class='main-button' type='submit' value='Create New'/>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
